.fz-14{
    font-size: 14px;
}
.fz-12{
    font-size: 12px;
}
.mb-44{
    margin-bottom: 44px;
}
.p-12{
    padding: 12px;
}
.bgc-gray-100{
    background-color: #F8F9FA;
}
.bdc-gray-400{
    border-color: #CED4DA;
}
.photo{
    width: 40px;
    height: 40px;
}