aside{
    min-width:296px;
    height: 100vh;
    position: fixed;
    padding: 32px;
}
.logo{
    background-image: url(../images/logo-ANSWER.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 151px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link:hover{
    color: $primary;
}
.nav-link.active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
    
  }

